
# Application

SPRING_APPLICATION_NAME=auth-service
SERVER_PORT=8081

# PostgreSQL

POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=change_this_database_password

DB_URL=jdbc:postgresql://postgres:5432/auth_db
DB_USERNAME=auth_user
DB_PASSWORD=change_this_database_password

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false


# Docker container name/service name

EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
EUREKA_REGISTER=true
EUREKA_FETCH=true
EUREKA_PREFER_IP=true

SPRING_CLOUD_CONFIG_ENABLED=false


# JWT
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_AT_LEAST_32_BYTES_123456789

# 15 minutes
JWT_EXPIRATION=900000

# 7 days
REFRESH_TOKEN_EXPIRATION=604800000